{% extends "base_generic.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
 <a href="{% url 'ask_critic' %}" class="btn btn-outline-dark col-2 m-4">Demander une critique</a>
 <a href="{% url 'create_critic' %}" class="btn btn-outline-dark col-2 m-4">Créer une critique</a>
</div>
<div>
 {{articles}}
 <hr>
 {% if articles %}
  {% for article in articles %}
   {% if article.title %}
    b
    {{ article.title }}
    {{ article.description }}
    {{ article.user }}
    {{ article.image }}
    {{ article.time_created }}
   {% else %}
    a
    {{ article.ticket }}
    {{ article.rating }}
    {{ article.headline }}
    {{ article.body }}
    {{ article.user }}
    {{ article.time_created }}
   {% endif %}
 <hr>
  {% endfor %}
 {% endif %}
</div>
{% endblock %}