{% extends "base_generic.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <a href="{% url 'ask_critic' %}" class="btn btn-outline-dark col-2 m-4">
        Demander une critique
    </a>
    <a href="{% url 'create_critic' %}" class="btn btn-outline-dark col-2 m-4">
        Créer une critique
    </a>
</div>
<div class="d-flex align-items-center flex-column">
    {% if articles %}
    {% for article in articles %}
    {% if article.title %}
    <div class="border border-dark m-2 p-2 w-50">
        <div class="d-flex justify-content-between">
            <span>
                {{article.user}} a demandé une critique
            </span>
            <span>
                {{ article.time_created}}
            </span>
        </div>
        <span>
            {{article.title}}
        </span>
        <p>{{article.description }}</p>
        {% if article.image %}
            <img src="{{ article.image.url }}" class="img-fluid w-50" />
        {% endif %}<br>
        <div class="d-flex">
            {% if not posts %}
                {% if not article.review %}
            <a href="{% url 'answer_critic' article.id %}" class="m-1 btn btn-outline-primary">
                Créer une critique
            </a>
            {% endif %}
            {% else %}
            <a href="{% url 'modify_ask' article.id %}" class="m-1 btn btn-outline-dark">
                Modifier
            </a>
            <form action="" method="post" name="delete" class="" autocomplete="off">{% csrf_token %}
                <button type="submit" name="delete_ask" value="{{article.id}}"
                        class="m-1 btn btn-outline-danger">
                    Supprimer
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="border border-dark m-2 p-2 w-50">
        <div class="d-flex justify-content-between">
            <span>
                {{ article.user }} a posté une critique
            </span>
            <span>
                {{ article.time_created }}
            </span>
        </div>
        <span>
            {{ article.headline }} - {{ article.rating }}
        </span>
        <p>{{ article.body }}</p>
        <div class="border border-dark m-3 p-2">
            <div class="d-flex justify-content-between">
                <span>
                    {{ article.ticket.user }} a demandé une critique
                </span>
                <span>
                    {{ article.ticket.time_created}}
                </span>
            </div>
            <span>
                {{ article.ticket.title }}
            </span>
            <p>{{article.ticket.description }}</p>
            {% if article.ticket.image %}
                <img src="{{ article.ticket.image.url }}" class="img-fluid w-50" />
            {% endif %}
        </div>
        <div class="d-flex m-2">
            {% if posts %}
            <a href="{% url 'modify_critic' article.id %}" class="m-1 btn btn-outline-dark">
                Modifier
            </a>
            <form action="" method="post" name="delete" class="" autocomplete="off">{% csrf_token %}
                <button type="submit" name="delete_review" value="{{article.id}}"
                        class="m-1 btn btn-outline-danger">
                    Supprimer
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>{% endblock %}