{% if article.rating == 5 %}
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
{% elif article.rating == 4 %}
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star"></span>
{% elif article.rating == 3 %}
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif article.rating == 2 %}
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif article.rating == 1 %}
<span class="fa fa-star text-warning"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif article.rating == 0 %}
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% endif %}
